@font-face {
  font-family:"Quicksand";
  src: url("/fonts/Quicksand/static/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:"Quicksand";
  src: url("/fonts/Quicksand/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"Quicksand";
  src: url("/fonts/Quicksand/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family:"Quicksand";
  src: url("/fonts/Quicksand/static/SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family:"Quicksand";
  src: url("/fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family:"OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

body {
  font-family: 'OpenSans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand";
}
p{
  text-align: justify;
  line-height: 1.5rem;
}

footer {
  padding: 30px 0px 20px 0px;
  background-color: #eee;
}

.section-features {
  padding: 30px 0px 20px 0px;
  font-size: 1.25rem;
  .feature {
    margin-bottom: 20px;
  }
  .icon {
    display: inline-block;
    width: 40px;
    font-size: 2rem;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;
  }
  .text {
    display: inline-block;
    width: calc(100% - 60px);
  }
}

.section-segments {
  padding: 30px 0px 20px 0px;
  background-color: #48D;
  color: white;
  .heading {
    font-size: 1.2rem;
    font-family: "Quicksand";
    font-weight: bold;
  }
  .text {
    p {
      margin-bottom: 0.3rem;
      line-height: 1.25rem;
    }
  }
}

.section-blurb {
  padding: 30px 0px 20px 0px;
}

.section-demo {
  background-color: #48D;
  color: white;
  padding: 30px 0px 20px 0px;
  a {
    color: white;
    text-decoration: underline;
  }
}
