{{ define "main" }}
  {{- partial "banner.html" . }}
  {{- partial "features.html" . }}
  {{- partial "segments.html" . }}
  {{- partial "blurb.html" . }}
  {{- partial "demo.html" . }}

  <!-- { {- partial "proposition.html" . }} -->

  <!-- { {- partial "apps.html" . }} -->

  <!-- { {- partial "features.html" . }} -->

  <!-- { {- partial "promo.html" . }} -->

  <!-- { {- partial "about-product.html" . }} -->

  <!-- { {- partial "subscription.html" . }} -->

  <!-- { {- partial "testimonials.html" . }} -->

{{ end }}
